
/*** hubpost grid styles ***/


.hubcategory-wrap {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .hubcategory-wrap {
    margin: -5px;
  }
}
.hubcategory-wrap > div.hubpost-card {
  padding: 1rem;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .hubcategory-wrap > div.hubpost-card {
    margin: 5px;
    flex-basis: calc(33.333% - 10px);
  }
}
@media (max-width: 767px) {
  .hubcategory-wrap > div.hubpost-card + div {
    margin-top: 20px;
  }
}

/* Remove image overlay with circle and arrow */
.hubpost-card .image-overlay {
display: none !important;
opacity: 0 !important;
}
.hubpost-card .image-overlay .image-overlay-inside:before {content: none !important;}

.hubpost-card *:hover{
text-decoration: none;
}
.hubpost-card a.hubpost-link{
  display:block;
  background: #fff;
  border-radius:12px;
  padding:8px 8px 10px;
}
.hubpost-card a.hubpost-link:hover{
  background: #f4f4f4;
}
.hubpost-card a.hubpost-link:hover span.post-format-icon{
  background-color: #f4f4f4;
}

.hubpost-card span.hubpost-image{
  display: block !important;
  overflow: visible !important;
  padding-bottom:10px;
}
.hubpost-card span.hubpost-image img{
border-top-left-radius: 9px;
border-top-right-radius: 9px;
box-shadow: 0 2px 2px 0px rgba(0,0,0,0.2);

}

.hubpost-card span.post-format-wrap{
  display:block !important;
  position:absolute;
  width:100%;
}

.hubpost-card span.post-format-icon{
    background-color: #fff;
    display: block;
    width:42px;
    height:42px;
    z-index: 300;
    margin: -42px auto 0;
    
    border-radius: 50%;
text-align:center;
}
.hubpost-card span.post-format-icon img{
    padding: 10px
}

.hubpost-card span.hubpost-title{
    font-size:13px;
    font-weight: bold;
    color: #212121;
    line-height: 1.4;
    display:block;
}
.hubpost-card span.hubpost-title:hover{
    color: #212121;
}

.hubpost-card .hubpost-source, .hubpost-card .hubpost-format-text{
display:inline;
  font-size: 11px;
  font-weight: 500;
  line-height: 2.91;
  color: #747474;
}

.hubpost-card .hubpost-format-text:before{
  content:"|";
  padding: 0 8px 0 2px;
}

.hubpost-card .hubpost-excerp{
  display: block;
  font-size: 12px;
  line-height: 1.5;
  color: #333333;
}



